<h2 mat-dialog-title>Edit Job</h2>
<mat-dialog-content>
  <form [formGroup]="editJobForm" (ngSubmit)="update(this.editJobForm.value)" id="edit-job-form">
      <mat-form-field>
          <input
          matInput
          placeholder="Title"
          formControlName="title">
        </mat-form-field>
        <mat-form-field>
          <input
          matInput
          placeholder="Company Name"
          formControlName="companyName">
        </mat-form-field>
        <mat-form-field>
          <input
          matInput
          placeholder="Company Email"
          formControlName="companyEmail">
        </mat-form-field>
        <div>
          <label>Company Logo</label>
          <input
          type="file"
          accept="image/jpeg, image/png"
          name="companyLogo"
          formControlName="companyLogo"
          (change)="getFormData($event)">
        </div>
        <mat-form-field>
          <input
          matInput
          placeholder="Rate of Pay (per hour)"
          formControlName="rateOfPay">
        </mat-form-field>
        <mat-form-field>
          <input
          matInput
          placeholder="Summary of Job"
          formControlName="summary">
        </mat-form-field>
        <mat-form-field>
          <textarea
          matInput
          rows="10"
          placeholder="Full Description of Job"
          formControlName="fullJobDescription">
          </textarea>
        </mat-form-field>
        <mat-dialog-actions>
            <button mat-raised-button class="add" type="submit">Edit Job</button>
            <button class="mat-raised-button" (click)="close()">Cancel</button>
        </mat-dialog-actions>
  </form>
</mat-dialog-content>


