<div *ngIf="followers.length === 0">
  <p>This post has no followers</p>
</div>
<h1 mat-dialog-title>Followers</h1>
<div>
  <mat-card style="height: 45px; box-shadow: 1px 10px 26px rgba(0,0,0,0.05);" *ngFor="let follower of finalFollowers">
  <mat-card-header>
    <img mat-card-avatar src="{{follower.photo}}" class="logo">
    <mat-card-title>{{follower.name}}</mat-card-title>
    <!-- <mat-card-subtitle>{{post.creatorEmail}}</mat-card-subtitle> -->
  </mat-card-header>

  <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
      <!-- <button class="card-button" mat-button (click)="openFollowersDialog(post)" >Followers ({{post.followers.length}})</button>
      <button class="card-button" mat-button (click)="openCommentsDialog(post)" >Comments ({{post.comments.length}})</button>
      <button class="card-button" mat-button (click)="openDeleteDialog(post)">Delete</button> -->
    </mat-card-actions>
</mat-card>
</div>

<hr>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Cancel</button>
</mat-dialog-actions>
