
<h2 mat-dialog-title>Delete Comment?</h2>
<p>{{userFullName}}</p>
<p>{{userEmail}}</p>
<p>Likes: {{likes}}</p>
<mat-dialog-content>
      <p>Are you sure you want to delete this Comment? It cannot be undone.</p>
      <br>
      <p>Post: </p>
      <h3>{{comment}}</h3>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button class="danger" (click)="delete(postID, commentID)">Delete</button>
    <button class="mat-raised-button" (click)="close()">Cancel</button>
</mat-dialog-actions>
