mat-dialog-container {
  background: #edffed;
}
h2 {
  color: #00c400;
  font-size: 2em;
}
.message {
  color: #222;
  font-size: 1.3em;
  padding: 0.5em;
}
.page-success-button, .page-button{
  width: 130px;
  height: 32px;
  font-weight: 600;
}
.page-success-button {
  background-color: #00c400;
}
