<h2 mat-dialog-title>Edit Event</h2>
<mat-dialog-content>
  <form [formGroup]="editEventForm" id="add-event-form" (ngSubmit)="update(this.editEventForm.value)">
      <mat-form-field>
          <input
          required
          matInput
          maxlength="80"
          placeholder="Title"
          formControlName="title">
        </mat-form-field>
        <mat-form-field>
          <input
          required
          matInput
          placeholder="Organizer"
          formControlName="organizer">
        </mat-form-field>
        <mat-form-field>
          <input
          required
          matInput
          placeholder="Address"
          formControlName="addressOne">
        </mat-form-field>
        <mat-form-field>
          <input
          matInput
          placeholder="Suite/Unit"
          formControlName="addressTwo">
        </mat-form-field>
        <mat-form-field>
          <input
          required
          matInput
          placeholder="City"
          formControlName="city">
        </mat-form-field>
        <mat-form-field>
          <input
          required
          matInput
          placeholder="State"
          formControlName="state">
        </mat-form-field>
        <mat-form-field>
          <input
          required
          matInput
          placeholder="Zip"
          formControlName="zip">
        </mat-form-field>
        <mat-form-field>
          <input
          required
          matInput
          placeholder="Date"
          formControlName="date"
          type="datetime-local">
        </mat-form-field>
        <div id="event-photo-group">
          <label>Photo</label>
          <input
          required
          type="file"
          (change)="getFormData($event)"
          accept="image/jpeg, image/png"
          name="eventPhoto"
          (change)="getFormData($event)">
          <label>Photo</label><br>
          <canvas *ngIf="!photoUploaded" id="default-photo-wrapper"></canvas>
          <img width="" *ngIf="photoUploaded" class="event-photo-selection" src="{{ uploadedLogoURL }}" alt="Event Photo">
        </div>
        <mat-form-field>
          <textarea
          required
          matInput
          rows="10"
          placeholder="description"
          formControlName="description">
          </textarea>
        </mat-form-field>
        <mat-dialog-actions>
            <button class="page-button" type="submit">Edit Event</button>
            <button class="page-danger-button" (click)="close()">Cancel</button>
        </mat-dialog-actions>
  </form>
</mat-dialog-content>


