.login-container {
  background: rgba(240,240,240);
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  top: 100px;
  padding: 25px;
}

button {
  margin: 0 auto;
  position: relative;
  top: 50px;
}
