<div class="top-bar">
  <button class="page-button" (click)="back()">Back</button>
</div>

<!-- Fair Info -->
<div class="fair-info">
  <h1>{{fair.title}}</h1>
  <h4>{{fair.date}}</h4>
  <h4>{{fair.address}}, {{fair.city}}, {{fair.state}}, {{fair.zip}}</h4>
  <p>{{fair.summary}}</p>
</div>
<mat-divider></mat-divider>

<!-- Students -->
<div class="students">
  <h1>Students</h1>
  <p>{{fair.studentDescription}}</p>

  <mat-accordion>
    <!-- Students Panel -->
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title >
          <h3 style="margin: 30px 0px;">View Students by School</h3>

        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Inner Pannels -->
      <mat-expansion-panel
      *ngFor="let school of studentsBySchool"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">

        <!-- Name of School Header -->
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 1.4em;">
            <p>{{school[0].name}} - {{school.length - 1}}</p>
            <p></p>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- List of Students -->
        <div *ngFor="let student of school; let i=index" class="student">
          <div *ngIf="i >= 1" >
              <p>{{i}}. {{student.name}}, {{student.grade}}, {{student.gender}}, {{student.lunch}} Lunch</p>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="lunch">
    <br>
    <h3>Lunches</h3>
    <p>Ham: {{allLunches.length}}</p>
    <p>Turkey: {{allLunches.length}}</p>
    <p>Veggie: {{allLunches.length}}</p>
    <br>
  </div>

  <!-- Student Agenda -->
  <div class="agenda">
    <h3>Agenda</h3>
    <div *ngFor="let item of fair.studentAgenda" class="agenda-item">
      <h2>{{item.time}}</h2>
      <p>{{item.time}}</p>
    </div>
  </div>


</div>
<mat-divider></mat-divider>

<!-- Chaperones -->
<div class="chaperones">
  <h1>Chaperones</h1>
  <p>{{fair.chaperoneDescription}}</p>

  <mat-accordion>
  <!-- Students Panel -->
  <mat-expansion-panel
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title >
        <h3 style="margin: 30px 0px;">View Chaperones by School</h3>

      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Inner Pannels -->
    <mat-expansion-panel
    *ngFor="let school of chaperonesBySchool"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">

      <!-- Name of School Header -->
      <mat-expansion-panel-header>
        <mat-panel-title style="font-size: 1.4em;">
          <p>{{school[0].name}} - {{school.length - 1}}</p>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- List of Students -->
      <div *ngFor="let chaperone of school; let i=index" class="student">
        <div *ngIf="i >= 1" >
            <p>{{i}}. {{chaperone.name}}, {{chaperone.gender}}, {{chaperone.lunch}} Lunch - {{chaperone.phone}}</p>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-expansion-panel>
  </mat-accordion>

  <div class="lunch">
    <br>
    <h3>Lunches</h3>
    <p>Ham: {{allLunches.length}}</p>
    <p>Turkey: {{allLunches.length}}</p>
    <p>Veggie: {{allLunches.length}}</p>
    <br>
  </div>

  <div class="agenda">
    <h3>Agenda</h3>
    <div *ngFor="let item of fair.chaperoneAgenda" class="agenda-item">
      <h2>{{item.time}}</h2>
      <p>{{item.time}}</p>
    </div>
  </div>
</div>
<mat-divider></mat-divider>

<!-- Partners -->
<div class="partners">
  <h1>Partners</h1>
  <p>{{fair.partnerDescription}}</p>
  <mat-accordion>
  <!-- Students Panel -->
  <mat-expansion-panel
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title >
        <h3 style="margin: 30px 0px;">View Partners</h3>

      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Inner Pannels -->
    <mat-expansion-panel
    *ngFor="let partner of partners"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">

      <!-- Name of School Header -->
      <mat-expansion-panel-header>
        <mat-panel-title style="font-size: 1.4em;">
          <img class="partner-logo" src="{{partner.logo}}" alt="">
          <p>{{partner.organization}}</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-expansion-panel>
  </mat-accordion>
  <div class="lunch">
    <br>
    <h3>Lunches</h3>
    <p>Ham: {{allLunches.length}}</p>
    <p>Turkey: {{allLunches.length}}</p>
    <p>Veggie: {{allLunches.length}}</p>
    <br>
  </div>

  <div class="agenda">
    <h3>Agenda</h3>
    <div *ngFor="let item of fair.partnerAgenda" class="agenda-item">
      <h2>{{item.time}}</h2>
      <p>{{item.time}}</p>
    </div>
  </div>

  <div class="faq">
    <h3>FAQ</h3>
    <div *ngFor="let item of fair.partnerFAQ" class="agenda-item">
      <h5>{{item.question}}</h5>
      <p>{{item.answer}}</p>
    </div>
  </div>
</div>
<mat-divider></mat-divider>

<!-- Volunteers -->
<div class="volunteers">
  <h1>Volunteers</h1>
  <p>{{fair.volunteerDescription}}</p>
  <mat-accordion>
  <!-- Students Panel -->
  <mat-expansion-panel
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title >
        <h3 style="margin: 30px 0px;">View Students by School</h3>

      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Inner Pannels -->
    <mat-expansion-panel
    *ngFor="let school of studentsBySchool"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">

      <!-- Name of School Header -->
      <mat-expansion-panel-header>
        <mat-panel-title style="font-size: 1.4em;">
          <p>{{school[0].name}} - {{school.length - 1}}</p>
          <p></p>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- List of Students -->
      <div *ngFor="let student of school; let i=index" class="student">
        <div *ngIf="i >= 1" >
            <p>{{i}}. {{student.name}}, {{student.grade}}, {{student.gender}}, {{student.lunch}} Lunch</p>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-expansion-panel>
  </mat-accordion>

  <!-- <div class="lunch">

  </div> -->

  <div class="agenda">
    <h3>Agenda</h3>
    <div *ngFor="let item of fair.volunteerAgenda" class="agenda-item">
      <h5>{{item.time}}</h5>
      <p>{{item.title}}</p>
    </div>

  </div>

  <div class="faq">
    <h3>FAQ</h3>
    <div *ngFor="let item of fair.volunteerFAQ" class="agenda-item">
      <h5>{{item.question}}</h5>
      <p>{{item.answer}}</p>
    </div>
  </div>
</div>
