<mat-toolbar class="top-bar">
  <button class="page-button" (click)="back()">Back</button>
  <button class="page-button" (click)="printCSV()">Print CSV</button>
</mat-toolbar>

<!-- Fair Info -->
<div class="fair-info">
  <h1>{{fair.title}}</h1>
  <h4>{{fair.date}}</h4>
  <h4>{{fair.address}}, {{fair.city}}, {{fair.state}}, {{fair.zip}}</h4>
  <p>{{fair.summary}}</p>
</div>
<mat-divider></mat-divider>

<!-- Students -->
<div class="students">
  <h1 class="usertype-header">Students</h1>
  <p class="usertype-description">{{fair.studentDescription}}</p>
  <button class="description-button">Edit Description</button>

  <!-- Student Roster sorted by School -->
  <mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2 style="margin: 30px 0px;">View Students by School</h2>

        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-divider style="margin-bottom: 15px;"></mat-divider>

      <!-- Toolbar w/ Buttons -->
      <mat-toolbar class="panel-toolbar">
        <button>
          Add School
        </button>
        <button>
          Export CSV
        </button>
        <button style="background: #e4405f;">
          Delete School
        </button>
      </mat-toolbar>

      <!-- Inner Pannels -->
      <mat-expansion-panel class="inner-panel"
      *ngFor="let school of studentsBySchool"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">

        <!-- Name of School Header -->
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 1em; font-weight: 600; color: #333;">
            <p>{{school[0].name}} &middot; {{school.length - 1}} Students</p>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Individual Student (Non Waitlisted) Panels -->
        <mat-expansion-panel class="student-panel" *ngFor="let student of school; let i=index">
          <mat-expansion-panel-header *ngIf="i >= 1 && student.waitlisted == false">
            <mat-panel-title style="position: relative;">
              <p class="student">{{student.name}}, {{student.grade}}, {{student.gender}}, {{student.lunch}} Lunch</p>

              <button class="ellipsis"  mat-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>Delete Student</button>
                <button mat-menu-item>Add to Waitlist</button>
              </mat-menu>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <h4>Interests</h4>
          <p>{{student.interests}}</p>
          <mat-divider></mat-divider>
          <h4>Questions</h4>
          <p>{{student.question1}}</p>
          <p>{{student.question2}}</p>
          <p>{{student.question3}}</p>
          <p>{{student.question4}}</p>
          <p>{{student.question5}}</p>

        </mat-expansion-panel>

        <!-- Waitlist -->
        <div class="waitlist-wrapper">
          <h3 class="waitlist-header">Waitlist</h3> <mat-expansion-panel class="student-panel" *ngFor="let student of school; let i=index">
            <mat-expansion-panel-header *ngIf="i >= 1 && student.waitlisted == true">
              <mat-panel-title style="position: relative;">
                <p class="student">{{student.name}}, {{student.grade}}, {{student.gender}}, {{student.lunch}} Lunch</p>


                <button class="ellipsis"  mat-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>Delete Student</button>
                  <button mat-menu-item>Add to Waitlist</button>
                </mat-menu>
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>

        </div>
      </mat-expansion-panel>
      <!-- Inner Panel End -->

    </mat-expansion-panel>
  </mat-accordion>

  <!-- Student Agenda -->
  <mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title >
          <h2 style="margin: 30px 0px;">View Students Agenda</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-divider style="margin-bottom: 15px;"></mat-divider>

      <!-- Toolbar w/ Buttons -->
      <mat-toolbar class="panel-toolbar">
        <button>
          Add Slot
        </button>
        <button>
          Export CSV
        </button>
      </mat-toolbar>

      <div *ngFor="let item of fair.studentAgenda" class="agenda-item">
        <button mat-button [matMenuTriggerFor]="agendaMenu">
          <mat-icon>edit</mat-icon>
        </button>
        <h2 class="agenda-time">{{item.time}}</h2>
        <p class="agenda-title">{{item.title}}</p>


        <button class="ellipsis"  mat-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #agendaMenu="matMenu">
          <button mat-menu-item>Edit Slot</button>
          <button mat-menu-item>Delete Slot</button>
        </mat-menu>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Student Lunches -->
  <mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2 style="margin: 30px 0px;">View Students Lunches</h2>
          <mat-divider></mat-divider>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="lunch-text">Ham: {{allLunches.length}}</p>
      <p class="lunch-text">Turkey: {{allLunches.length}}</p>
      <p class="lunch-text">Veggie: {{allLunches.length}}</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<mat-divider></mat-divider>

<!-- Chaperones -->
<div class="chaperones">
  <h1 class="usertype-header">Chaperones</h1>
  <p class="usertype-description">{{fair.chaperoneDescription}}</p>
  <button class="description-button">Edit Description</button>

  <!-- Chaperone Roster sorted by School -->
  <mat-accordion>
  <mat-expansion-panel
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2 style="margin: 30px 0px;">View Chaperones by School</h2>

      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Toolbar w/ Buttons -->
    <mat-toolbar class="panel-toolbar">
      <button>
        Add School
      </button>
      <button>
        Export CSV
      </button>
      <button style="background: #e4405f;">
        Delete School
      </button>
    </mat-toolbar>

    <!-- Inner Pannels -->
    <mat-expansion-panel class="inner-panel"
    *ngFor="let school of chaperonesBySchool"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">

      <!-- Name of School Header -->
      <mat-expansion-panel-header>
        <mat-panel-title  style="font-size: 1em; font-weight: 600; color: #333;">
          <p>{{school[0].name}} - {{school.length - 1}}</p>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- List of Students -->
      <div *ngFor="let chaperone of school; let i=index" class="student">
        <div *ngIf="i >= 1" >
            <p>{{chaperone.name}}, {{chaperone.gender}}, {{chaperone.lunch}} Lunch - {{chaperone.phone}}</p>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-expansion-panel>
  </mat-accordion>

  <!-- Chaporone Agenda -->
  <mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title >
          <h2 style="margin: 30px 0px;">View Chaperone Agenda</h2>

        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Toolbar w/ Buttons -->
      <mat-toolbar class="panel-toolbar">
        <button>
          Add School
        </button>
        <button>
          Export CSV
        </button>
        <button style="background: #e4405f;">
          Delete School
        </button>
      </mat-toolbar>
      <div *ngFor="let item of fair.chaperoneAgenda" class="agenda-item">
        <button mat-button [matMenuTriggerFor]="agendaMenu">
          <mat-icon>edit</mat-icon>
        </button>
        <h2 class="agenda-time">{{item.time}}</h2>
        <p class="agenda-title">{{item.title}}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Chaporone Lunches -->
  <mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title >
          <h2 style="margin: 30px 0px;">View Chaporone Lunches</h2>

        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="lunch-text">Ham: {{allLunches.length}}</p>
      <p class="lunch-text">Turkey: {{allLunches.length}}</p>
      <p class="lunch-text">Veggie: {{allLunches.length}}</p>
    </mat-expansion-panel>
  </mat-accordion>

</div>
<mat-divider></mat-divider>

<!-- Partners -->
<div class="partners">
  <h2 class="usertype-header">Partners</h2>
  <p class="usertype-description">{{fair.partnerDescription}}</p>
  <button class="description-button">Edit Description</button>

  <!-- Partner Roster -->
  <mat-accordion>
  <mat-expansion-panel
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title >
        <h2 style="margin: 30px 0px;">View Partners</h2>

      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Toolbar w/ Buttons -->
    <mat-toolbar class="panel-toolbar">
      <button>
        Add School
      </button>
      <button>
        Export CSV
      </button>
      <button style="background: #e4405f;">
        Delete School
      </button>
    </mat-toolbar>

    <!-- Inner Pannels -->
    <mat-expansion-panel class="inner-panel"
    *ngFor="let partner of partners"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">

      <!-- Name of School Header -->
      <mat-expansion-panel-header>
        <mat-panel-title style="font-size: 1.4em;">
          <img class="partner-logo" src="{{partner.logo}}" alt="">
          <p>{{partner.organization}}</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="partner-info">
        <h4 class="verified">Verified: {{partner.verified}}</h4>
        <h3>Contact Info</h3>
        <p>Name: {{partner.name}}</p>
        <p>Email: {{partner.email}}</p>
        <p>Phone: {{partner.phone}}</p>
        <p>gender: {{partner.gender}}</p>
        <p>Lunch: {{partner.lunch}}</p>
        <p>Colleagues: {{partner.colleagues}}</p>

        <h3>Partner Description</h3>
        <p>{{partner.description}}</p>
      </div>
    </mat-expansion-panel>
  </mat-expansion-panel>
  </mat-accordion>

  <!-- Partner Agenda -->
  <mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title >
          <h2 style="margin: 30px 0px;">View Partner Agenda</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Toolbar w/ Buttons -->
      <mat-toolbar class="panel-toolbar">
        <button>
          Add School
        </button>
        <button>
          Export CSV
        </button>
        <button style="background: #e4405f;">
          Delete School
        </button>
      </mat-toolbar>
      <div *ngFor="let item of fair.partnerAgenda" class="agenda-item">
        <button mat-button [matMenuTriggerFor]="agendaMenu">
          <mat-icon>edit</mat-icon>
        </button>
        <h2 class="agenda-time">{{item.time}}</h2>
        <p class="agenda-title">{{item.title}}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Partner Lunches -->
  <mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title >
          <h2 style="margin: 30px 0px;">View Students Lunches</h2>

        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="lunch-text">Ham: {{allLunches.length}}</p>
      <p class="lunch-text">Turkey: {{allLunches.length}}</p>
      <p class="lunch-text">Veggie: {{allLunches.length}}</p>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Partner FAQs -->
  <mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title >
          <h2 style="margin: 30px 0px;">View Partner FAQs</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Toolbar w/ Buttons -->
      <mat-toolbar class="panel-toolbar">
        <button>
          Add School
        </button>
        <button>
          Export CSV
        </button>
        <button style="background: #e4405f;">
          Delete School
        </button>
      </mat-toolbar>
      <div *ngFor="let item of fair.partnerFAQ">
        <h3>{{item.question}}</h3>
        <p>{{item.answer}}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<mat-divider></mat-divider>

<!-- Volunteers -->
<div class="volunteers">
  <h1 class="usertype-header">Volunteers</h1>
  <p class="usertype-description">{{fair.volunteerDescription}}</p>
  <button class="description-button">Edit Description</button>

  <!-- Volunteer Roster -->
  <mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title >
          <h2 style="margin: 30px 0px;">View Volunteers</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Toolbar w/ Buttons -->
      <mat-toolbar class="panel-toolbar">
        <button>
          Add School
        </button>
        <button>
          Export CSV
        </button>
        <button style="background: #e4405f;">
          Delete School
        </button>
      </mat-toolbar>
      <div *ngFor="let volunteer of fair.volunteers" class="volunteer">
        <h2>{{volunteer.name}}</h2>
        <p>{{volunteer.email}}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Volunteer Agenda -->
  <mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title >
          <h2 style="margin: 30px 0px;">View Volunteer Agenda</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Toolbar w/ Buttons -->
      <mat-toolbar class="panel-toolbar">
        <button>
          Add School
        </button>
        <button>
          Export CSV
        </button>
        <button style="background: #e4405f;">
          Delete School
        </button>
      </mat-toolbar>
      <div *ngFor="let item of fair.volunteerAgenda" class="agenda-item">
        <button mat-button [matMenuTriggerFor]="agendaMenu">
          <mat-icon>edit</mat-icon>
        </button>
        <h2 class="agenda-time">{{item.time}}</h2>
        <p class="agenda-title">{{item.title}}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Volunteer Lunches -->
  <mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title >
          <h2 style="margin: 30px 0px;">View Volunteer Lunches</h2>

        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="lunch-text">Ham: {{allLunches.length}}</p>
      <p class="lunch-text">Turkey: {{allLunches.length}}</p>
      <p class="lunch-text">Veggie: {{allLunches.length}}</p>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Volunteer FAQs -->
  <mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title >
          <h2 style="margin: 30px 0px;">View Volunteer FAQs</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Toolbar w/ Buttons -->
      <mat-toolbar class="panel-toolbar">
        <button>
          Add School
        </button>
        <button>
          Export CSV
        </button>
        <button style="background: #e4405f;">
          Delete School
        </button>
      </mat-toolbar>
      <div *ngFor="let item of fair.volunteerFAQ">
        <h3>{{item.question}}</h3>
        <p>{{item.answer}}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
