.top-bar {
  background: #005191;
  height: 60px;
  padding: 20px 300px;
  position: fixed;
  width: 100%;
  top: 0;
}

.page-button {
  background: white;
  color: #005191;
  font-size: 0.8em;
}

#back-button{

}

#delete-button{
  color: white;
  background: #e4405f;
}

#print-button{
  background: #21ce99;
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

.outer-panel  {
  border: 1px solid #005191;
}

.mat-accordion>.mat-expansion-panel-spacing:last-child {
  margin-bottom: 30px;
}

.inner-panel > .mat-expansion-indicator, .mat-expansion-indicator:after {
  color: red !important;
}



.inner-panel {
  border: 2px solid #444;
  color: #005191;
  box-shadow: none;
}

.usertype-header{
  font-size: 2.1em;
  color: #111;
  margin-bottom: 40px;
}

h2 {
  color: #555;
}

.usertype-description {
  font-size: 1.4em;
}

.description-button {
  position: relative;
  top: -15px;
  margin-bottom: 40px;
  padding: 0.38em;
  color: white;
  background: #005191;
  border-radius: 5px;
  border: none;
}

.verified {
  color: green;
}


mat-expansion-panel {
  margin-bottom: 20px;
  background: rgb(247, 247, 247);
  box-shadow: none;

  .panel-toolbar {
    position: relative;
    margin-bottom: 20px;
    padding: 0;
    background: none;
    box-shadow: none;
    z-index: 0;

    button {
      font-size: 0.8em;
      color: white;
      margin-right: 15px;
      padding: 0.6em 0;
      width: 120px;
      border-radius: 5px;
      border: none;
      background: #21ce99;
      z-index: 0;
    }
  }

  h3 {
    color: #005191;
  }
}

.student-wrapper {
  position: relative;
}

.waitlist-header {
  margin-top: 65px;
  color: #444;
}

.waitlisted {
  margin-top: 25px;
}

.student {
  color: #444;
}

.student-panel {
  margin-bottom: 8px;
}

.ellipsis {
  float: right;
  position: absolute;
  top: 8px;
  right: 0px;
  z-index: 999;
  background: none;
  border: none;
}

.partner-logo{
  height: 40px;
  width: 40px;
  margin: 15px;
}

.fair-info{
  margin-top: 50px;
}

#edit-fair-info-button {
  background: #005191;
  color: white;
  margin: 40px auto 0px auto;
}

.fair-info,
.students,
.chaperones,
.partners,
.volunteers {
  height: auto;
  padding: 70px 300px;
}

.agenda,
.faq,
.lunch {
  margin: 40px 0;
  padding: 0.8em;
  background: rgb(238, 238, 238);
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1)
}

.agenda-item {
  height: 50px;
}

.agenda-time, .agenda-title {
    display: inline;
    line-height: 2.5em;
  }

.agenda-time {
  margin-right: 8px;
  padding: 0.3em;
}

.lunch-text {
  font-size: 1.7em;
  margin: 1.2em 0em;
}

