<mat-toolbar class="top-bar">
  <button id="back-button" class="page-button" (click)="back()">Back</button>
  <span class="example-spacer"></span>
  <button id="print-button" class="page-button" (click)="printCSVDialog()">Print CSV</button>
  <button id="delete-button" class="page-button" (click)="deleteFair(this.id)">Delete Fair</button>
</mat-toolbar>

<!-- Fair Info -->
<div class="fair-info">
  <h1>{{title}}</h1>
  <h4>{{fair.time}}</h4>
  <h4>{{fair.date}}</h4>
  <h4>{{fair.address}}, {{fair.city}}, {{fair.state}}, {{fair.zip}}</h4>
  <p style="font-size: 1.2em; width: 750px;
  line-height: 1.6em;">{{fair.summary}}</p>
  <button id="edit-fair-info-button" class="page-button" (click)="editFair(fair)">Edit</button>
</div>
<mat-divider></mat-divider>

<!-- Students -->
<div class="students">
  <h1 class="usertype-header">Students</h1>

  <!-- Student Roster sorted by School -->
  <mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2 style="margin: 30px 0px;">View Students by School</h2>

        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-divider style="margin-bottom: 15px;"></mat-divider>

      <!-- Toolbar w/ Buttons -->
      <mat-toolbar class="panel-toolbar">
        <button (click)="printStudentsDialog()">
          Export CSV
        </button>
      </mat-toolbar>

      <!-- Inner Pannels -->
      <mat-expansion-panel class="inner-panel"
      *ngFor="let school of studentsBySchool"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">

        <!-- Name of School Header -->
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 1em; font-weight: 600; color: #333;">
            <p>{{school[0].name}} &middot; {{school.length - 1}} Students</p>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Individual Student (Non Waitlisted) Panels -->
        <mat-expansion-panel class="student-panel" *ngFor="let student of school; let i=index">
          <mat-expansion-panel-header *ngIf="i >= 1 && student.waitlisted == false">
            <mat-panel-title style="position: relative;">
              <p class="student">{{student.name}}, {{student.grade}}, {{student.gender}}, {{student.lunch}} Lunch</p>

              <button class="ellipsis"  mat-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>Delete Student</button>
                <button mat-menu-item>Add to Waitlist</button>
              </mat-menu>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <h4>Interests</h4>
          <p>{{student.interests}}</p>
          <mat-divider></mat-divider>
          <h4>Questions</h4>
          <p>{{student.question1}}</p>
          <p>{{student.question2}}</p>
          <p>{{student.question3}}</p>
          <p>{{student.question4}}</p>
          <p>{{student.question5}}</p>

        </mat-expansion-panel>

        <!-- Waitlist -->
        <div class="waitlist-wrapper">
          <h3 class="waitlist-header">Waitlist</h3> <mat-expansion-panel class="student-panel" *ngFor="let student of school; let i=index">
            <mat-expansion-panel-header *ngIf="i >= 1 && student.waitlisted == true">
              <mat-panel-title style="position: relative;">
                <p class="student">{{student.name}}, {{student.grade}}, {{student.gender}}, {{student.lunch}} Lunch</p>


                <button class="ellipsis"  mat-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>Delete Student</button>
                  <button mat-menu-item>Add to Waitlist</button>
                </mat-menu>
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>

        </div>
      </mat-expansion-panel>
      <!-- Inner Panel End -->

    </mat-expansion-panel>
  </mat-accordion>

  <!-- Student Agenda -->
  <mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title >
          <h2 style="margin: 30px 0px;">View Students Agenda</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-divider style="margin-bottom: 15px;"></mat-divider>

      <!-- Toolbar w/ Buttons -->
      <mat-toolbar class="panel-toolbar">
        <button (click)="addStudentSlotDialog()">
          Add Slot
        </button>
        <button (click)="printStudentsAgendaDialog()">
          Export CSV
        </button>
      </mat-toolbar>

      <div class="agenda-item" *ngFor="let item of studentsAgenda; let i = index" [attr.data-index]="i" >
        <button mat-button [matMenuTriggerFor]="agendaMenu">
          <mat-icon>edit</mat-icon>
        </button>
        <mat-menu #agendaMenu="matMenu">
          <button mat-menu-item (click)="editStudentAgendaItem(item)">Edit Slot</button>
          <button mat-menu-item (click)="deleteStudentAgendaItem(this.id, i)">Delete Slot</button>
        </mat-menu>
        <div *ngIf="!item.edit" style="display: inline">
          <h2 class="agenda-time">{{item.time}}</h2>
          <p class="agenda-title">{{item.title}}</p>
        </div>
        <div *ngIf="item.edit" style="display: inline;">
          <form style="display: inline;" [formGroup]="editAgendaForm">
            <input
              type="time"
              class="agenda-time-edit"
              formControlName="time"
              value="{{item.time}}">
            <input
            type="text"
            class="agenda-title-edit"
            placeholder="Enter title here"
            formControlName="title">
          </form>
          <button class="edit-agenda-button" (click)="editStudentAgendaItemFinal(this.id, i)">Edit</button>
          <button class="cancel-edit-agenda-button" (click)="cancelEditStudentAgendaItem(item)">Cancel</button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Student Lunches -->
  <mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2 style="margin: 30px 0px;">View Students Lunches</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="lunch-text">Ham: {{allLunches.length}}</p>
      <p class="lunch-text">Turkey: {{allLunches.length}}</p>
      <p class="lunch-text">Veggie: {{allLunches.length}}</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<mat-divider></mat-divider>

<!-- Chaperones -->
<div class="chaperones">
  <h1 class="usertype-header">Chaperones</h1>

  <!-- Chaperone Roster sorted by School -->
  <mat-accordion>
  <mat-expansion-panel
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2 style="margin: 30px 0px;">View Chaperones by School</h2>

      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Toolbar w/ Buttons -->
    <mat-toolbar class="panel-toolbar">
      <button (click)="printChaperonesDialog()">
        Export CSV
      </button>
    </mat-toolbar>

    <!-- Inner Pannels -->
    <mat-expansion-panel class="inner-panel"
    *ngFor="let school of chaperonesBySchool"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">

      <!-- Name of School Header -->
      <mat-expansion-panel-header>
        <mat-panel-title  style="font-size: 1em; font-weight: 600; color: #333;">
          <p>{{school[0].name}} - {{school.length - 1}}</p>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- List of Students -->
      <div *ngFor="let chaperone of school; let i=index" class="student">
        <div *ngIf="i >= 1" >
            <p>{{chaperone.name}}, {{chaperone.gender}}, {{chaperone.lunch}} Lunch - {{chaperone.phone}}</p>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-expansion-panel>
  </mat-accordion>

  <!-- Chaporone Agenda -->
  <mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title >
          <h2 style="margin: 30px 0px;">View Chaperones Agenda</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-divider style="margin-bottom: 15px;"></mat-divider>

      <!-- Toolbar w/ Buttons -->
      <mat-toolbar class="panel-toolbar">
        <button (click)="addChaperoneSlotDialog()">
          Add Slot
        </button>
        <button (click)="printChaperonesAgendaDialog()">
          Export CSV
        </button>
      </mat-toolbar>

      <div class="agenda-item" *ngFor="let item of chaperonesAgenda; let i = index" [attr.data-index]="i" >
        <button mat-button [matMenuTriggerFor]="agendaMenu">
          <mat-icon>edit</mat-icon>
        </button>
        <mat-menu #agendaMenu="matMenu">
          <button mat-menu-item (click)="editChaperoneAgendaItem(item)">Edit Slot</button>
          <button mat-menu-item (click)="deleteChaperoneAgendaItem(this.id, i)">Delete Slot</button>
        </mat-menu>
        <div *ngIf="!item.edit" style="display: inline">
          <h2 class="agenda-time">{{item.time}}</h2>
          <p class="agenda-title">{{item.title}}</p>
        </div>
        <div *ngIf="item.edit" style="display: inline;">
          <form style="display: inline;" [formGroup]="editAgendaForm">
            <input
              type="time"
              class="agenda-time-edit"
              formControlName="time"
              value="{{item.time}}">
            <input
            type="text"
            class="agenda-title-edit"
            placeholder="Enter title here"
            formControlName="title">
          </form>
          <button class="edit-agenda-button" (click)="editChaperoneAgendaItemFinal(this.id, i)">Edit</button>
          <button class="cancel-edit-agenda-button" (click)="cancelEditChaperoneAgendaItem(item)">Cancel</button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Chaporone Lunches -->
  <mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title >
          <h2 style="margin: 30px 0px;">View Chaporone Lunches</h2>

        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="lunch-text">Ham: {{allLunches.length}}</p>
      <p class="lunch-text">Turkey: {{allLunches.length}}</p>
      <p class="lunch-text">Veggie: {{allLunches.length}}</p>
    </mat-expansion-panel>
  </mat-accordion>

</div>
<mat-divider></mat-divider>

<!-- Partners -->
<div class="partners">
  <h2 class="usertype-header">Partners</h2>

  <!-- Partner Roster -->
  <mat-accordion>
  <mat-expansion-panel
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title >
        <h2 style="margin: 30px 0px;">View Partners</h2>

      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Toolbar w/ Buttons -->
    <mat-toolbar class="panel-toolbar">
      <button (click)="addPartnerDialog()">
        Add Partner
      </button>
      <button (click)="printPartnersDialog()">
        Export CSV
      </button>
    </mat-toolbar>

    <!-- Inner Pannels -->
    <mat-expansion-panel class="inner-panel"
    *ngFor="let partner of partners"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">

      <!-- Name of School Header -->
      <mat-expansion-panel-header>
        <mat-panel-title style="font-size: 1.4em;">
          <img class="partner-logo" src="{{partner.logo}}" alt="">
          <p>{{partner.organization}}
            <span class="verified" *ngIf="partner.verified">Verified</span>
            <span class="unverified" *ngIf="!partner.verified">Unverified</span>
          </p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="partner-info">
        <h2>Contact Info</h2>
        <p>Name: {{partner.name}}</p>
        <p>Email: {{partner.email}}</p>
        <p>Phone: {{partner.phone}}</p>
        <p>gender: {{partner.gender}}</p>
        <p>Lunch: {{partner.lunch}}</p>
        <p>Colleagues: {{partner.colleagues}}</p>

        <h2>Partner Description</h2>
        <p>{{partner.description}}</p>
      </div>
    </mat-expansion-panel>
  </mat-expansion-panel>
  </mat-accordion>

  <!-- Partner Agenda -->
  <mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title >
          <h2 style="margin: 30px 0px;">View Partners Agenda</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-divider style="margin-bottom: 15px;"></mat-divider>

      <!-- Toolbar w/ Buttons -->
      <mat-toolbar class="panel-toolbar">
        <button (click)="addPartnerSlotDialog()">
          Add Slot
        </button>
        <button (click)="printPartnerAgendaDialog()">
          Export CSV
        </button>
      </mat-toolbar>

      <div class="agenda-item" *ngFor="let item of partnersAgenda; let i = index" [attr.data-index]="i" >
        <button mat-button [matMenuTriggerFor]="agendaMenu">
          <mat-icon>edit</mat-icon>
        </button>
        <mat-menu #agendaMenu="matMenu">
          <button mat-menu-item (click)="editPartnerAgendaItem(item)">Edit Slot</button>
          <button mat-menu-item (click)="deletePartnerAgendaItem(this.id, i)">Delete Slot</button>
        </mat-menu>
        <div *ngIf="!item.edit" style="display: inline">
          <h2 class="agenda-time">{{item.time}}</h2>
          <p class="agenda-title">{{item.title}}</p>
        </div>
        <div *ngIf="item.edit" style="display: inline;">
          <form style="display: inline;" [formGroup]="editAgendaForm">
            <input
              type="time"
              class="agenda-time-edit"
              formControlName="time"
              value="{{item.time}}">
            <input
            type="text"
            class="agenda-title-edit"
            placeholder="Enter title here"
            formControlName="title">
          </form>
          <button class="edit-agenda-button" (click)="editPartnerAgendaItemFinal(this.id, i)">Edit</button>
          <button class="cancel-edit-agenda-button" (click)="cancelEditPartnerAgendaItem(item)">Cancel</button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Partner Lunches -->
  <mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title >
          <h2 style="margin: 30px 0px;">View Partners Lunches</h2>

        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="lunch-text">Ham: {{allLunches.length}}</p>
      <p class="lunch-text">Turkey: {{allLunches.length}}</p>
      <p class="lunch-text">Veggie: {{allLunches.length}}</p>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Partner FAQs -->
  <mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title >
          <h2 style="margin: 30px 0px;">View Partner FAQs</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Toolbar w/ Buttons -->
      <mat-toolbar class="panel-toolbar">
        <button (click)="addPartnerFAQDialog()">
          Add FAQ
        </button>
        <button (click)="printPartnerFAQDialog()">
          Export CSV
        </button>
      </mat-toolbar>
      <div *ngFor="let item of partnersFAQ; let i = index">
        <div *ngIf="!item.edit" class="faq-wrapper">
          <h3 class="faq-question">
            <button mat-button style="display: inline;" [matMenuTriggerFor]="agendaMenu">
            <mat-icon>edit</mat-icon>
            </button>
            <mat-menu #agendaMenu="matMenu">
              <button mat-menu-item (click)="editPartnerQuestion(item)">Edit Question</button>
              <button mat-menu-item (click)="deletePartnerQuestion(this.id, i)">Delete Question</button>
            </mat-menu>
          {{item.question}}</h3>
          <p class="faq-answer">{{item.answer}}</p>
        </div>
        <div *ngIf="item.edit">
          <!-- Edit Mode -->
          <form style="display: inline;" [formGroup]="editPartnerQuestionForm">
            <input
              type="text"
              class="faq-question-edit"
              formControlName="question">
            <textarea
              cols="30" rows="10"
              type="text"
              class="faq-answer-edit"
              formControlName="answer">
            </textarea>
            <button class="faq-edit-button" (click)="editPartnerQuestionFinal(this.id, i)">Edit</button>
            <button class="faq-cancel-button" (click)="cancelEditQuestion(item)">Cancel</button>
          </form>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<mat-divider></mat-divider>

<!-- Volunteers -->
<div class="volunteers">
  <h1 class="usertype-header">Volunteers</h1>

  <!-- Volunteer Roster -->
  <mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title >
          <h2 style="margin: 30px 0px;">View Volunteers</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Toolbar w/ Buttons -->
      <mat-toolbar class="panel-toolbar">
        <button (click)="addVolunteerDialog()">
          Add Volunteer
        </button>
        <button (click)="printVolunteersDialog()">
          Export CSV
        </button>
      </mat-toolbar>
      <div *ngFor="let volunteer of volunteers; let i = index" class="volunteer">
        <div *ngIf="!volunteer.edit">
          <h2>
            <button mat-button [matMenuTriggerFor]="agendaMenu">
            <mat-icon>edit</mat-icon>
          </button>
          <mat-menu #agendaMenu="matMenu">
            <button mat-menu-item (click)="editVolunteer(volunteer)">Edit Slot</button>
            <button mat-menu-item (click)="deleteVolunteer(this.id, i)">Delete Slot</button>
          </mat-menu>
          {{volunteer.name}}
        </h2>
          <p>{{volunteer.phone}}</p>
          <p>{{volunteer.email}}</p>
          <p>{{volunteer.email}}</p>
        </div>
        <div *ngIf="volunteer.edit">
          <!-- Edit Mode -->
          <form style="display: inline;" [formGroup]="editVolunteerForm">
            <input
              type="text"
              class="add-volunteer-input"
              formControlName="name"
              placeholder="Fullname" />
            <input
              type="email"
              class="add-volunteer-input"
              formControlName="email"
              placeholder="Email" />
            <input
              type="phone"
              class="add-volunteer-input"
              formControlName="phone"
              maxlength="10"
              placeholder="(xxx) - xxxxx" />
            <button class="volunteer-edit-button" (click)="editVolunteerFinal(this.id, i)">Edit</button>
            <button class="volunteer-cancel-button" (click)="cancelEditVolunteer(volunteer)">Cancel</button>
          </form>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Volunteer Agenda -->
  <mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title >
          <h2 style="margin: 30px 0px;">View Volunteer Agenda</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-divider style="margin-bottom: 15px;"></mat-divider>

      <!-- Toolbar w/ Buttons -->
      <mat-toolbar class="panel-toolbar">
        <button (click)="addVolunteerSlotDialog()">
          Add Slot
        </button>
        <button (click)="printVolunteerAgendaDialog()">
          Export CSV
        </button>
      </mat-toolbar>

      <div class="agenda-item" *ngFor="let item of volunteersAgenda; let i = index" [attr.data-index]="i" >
        <button mat-button [matMenuTriggerFor]="agendaMenu">
          <mat-icon>edit</mat-icon>
        </button>
        <mat-menu #agendaMenu="matMenu">
          <button mat-menu-item (click)="editVolunteerAgendaItem(item)">Edit Slot</button>
          <button mat-menu-item (click)="deleteVolunteerAgendaItem(this.id, i)">Delete Slot</button>
        </mat-menu>
        <div *ngIf="!item.edit" style="display: inline">
          <h2 class="agenda-time">{{item.time}}</h2>
          <p class="agenda-title">{{item.title}}</p>
        </div>
        <div *ngIf="item.edit" style="display: inline;">
          <form style="display: inline;" [formGroup]="editAgendaForm">
            <input
              type="time"
              class="agenda-time-edit"
              formControlName="time"
              value="{{item.time}}">
            <input
            type="text"
            class="agenda-title-edit"
            placeholder="Enter title here"
            formControlName="title">
          </form>
          <button class="edit-agenda-button" (click)="editVolunteerAgendaItemFinal(this.id, i)">Edit</button>
          <button class="cancel-edit-agenda-button" (click)="cancelEditVolunteerAgendaItem(item)">Cancel</button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Volunteer Lunches -->
  <mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title >
          <h2 style="margin: 30px 0px;">View Volunteer Lunches</h2>

        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="lunch-text">Ham: {{allLunches.length}}</p>
      <p class="lunch-text">Turkey: {{allLunches.length}}</p>
      <p class="lunch-text">Veggie: {{allLunches.length}}</p>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Volunteer FAQs -->
  <mat-accordion>
    <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title >
          <h2 style="margin: 30px 0px;">View Volunteer FAQs</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Toolbar w/ Buttons -->
      <mat-toolbar class="panel-toolbar">
        <button (click)="addVolunteerFAQDialog()">
          Add FAQ
        </button>
        <button (click)="printVolunteersFAQDialog()">
          Export CSV
        </button>
      </mat-toolbar>
      <div *ngFor="let item of volunteersFAQ; let i = index">
        <div *ngIf="!item.edit" class="faq-wrapper">
          <h3 class="faq-question">
            <button mat-button style="display: inline;" [matMenuTriggerFor]="agendaMenu">
            <mat-icon>edit</mat-icon>
            </button>
            <mat-menu #agendaMenu="matMenu">
              <button mat-menu-item (click)="editVolunteerQuestion(item)">Edit Volunteer</button>
              <button mat-menu-item (click)="deleteVolunteerQuestion(this.id, i)">Delete Volunteer</button>
            </mat-menu>
          {{item.question}}</h3>
          <p class="faq-answer">{{item.answer}}</p>
        </div>
        <div *ngIf="item.edit">
          <!-- Edit Mode -->
          <h3 style="margin-top: 30px; margin-bottom: 30px;">Edit FAQ</h3>
          <form style="display: inline;" [formGroup]="editVolunteerQuestionForm">
            <input
              type="text"
              class="faq-question-edit"
              formControlName="question">
            <textarea
              cols="30" rows="10"
              type="text"
              class="faq-answer-edit"
              formControlName="answer">
            </textarea>
            <button class="faq-edit-button" (click)="editVolunteerQuestionFinal(this.id, i)">Edit</button>
            <button class="faq-cancel-button" (click)="cancelEditQuestion(item)">Cancel</button>
            <mat-divider class="divider"></mat-divider>
          </form>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
