.top-bar {
  background: #005191;
  height: 60px;
  padding: 20px 10px;
  position: fixed;
  width: 100%;
  top: 0;
}
.container {
  background: #f4f5f8;
  height: 83vh;
  padding: 1em 15em;
}
.page-button {
  background: white;
  color: #005191;
  font-size: 0.8em;
}

#back-button{

}

.mat-slide-toggle {
  font-size: 1.5em;
  margin: 1em 0em;
}

#delete-button{
  color: white;
  background: #e4405f;
}

#print-button{
  background: #21ce99;
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

.outer-panel  {
  border: 1px solid #005191;
}

.mat-accordion>.mat-expansion-panel-spacing:last-child {
  margin-bottom: 30px;
}

.inner-panel > .mat-expansion-indicator, .mat-expansion-indicator:after {
  color: red !important;
}

.divider {
  margin-bottom: 40px;
}


.inner-panel {
  background: white;
  margin-bottom: 30px;
  border: 1.5px solid #005191;
  border-radius: 5px;
  padding: 12px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
}

.usertype-header{
  font-size: 2.1em;
  color: #111;
  margin-bottom: 40px;
}

h4 {
  color: #005191;
  margin: 11px 0;

  span {
    margin-right: 10px;
  }
}

.usertype-description {
  font-size: 1.4em;
}

.description-button {
  position: relative;
  top: -15px;
  margin-bottom: 40px;
  padding: 0.38em;
  color: white;
  background: #005191;
  border-radius: 5px;
  border: none;
}

.verified {
  color: green;
}

.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
  margin-right: 16px;
  color: #005191;
  font-size: 0.8em;
  box-shadow: none;
}


mat-expansion-panel {
  background: white;
  box-shadow: 1px 10px 26px rgba(0,0,0,0.05);
  margin-bottom: 24px;

  .panel-toolbar {
    position: relative;
    margin-bottom: 20px;
    padding: 0;
    background: none;
    box-shadow: none;
    z-index: 0;

    button {
      font-size: 0.8em;
      color: white;
      margin-right: 15px;
      padding: 0.6em 0;
      width: 120px;
      border-radius: 5px;
      border: none;
      background: #21ce99;
      z-index: 0;
    }
  }

  h3 {
    color: #005191;
  }
}

.student-wrapper {
  position: relative;
}

.waitlist-header {
  margin-top: 65px;
  color: #444;
}

.waitlisted {
  margin-top: 25px;
}

.student {
  color: #444;
  font-size: 1.33em;
}

.student-panel {
  margin-bottom: 8px;
}

.ellipsis {
  float: right;
  position: absolute;
  top: 8px;
  right: 0px;
  z-index: 999;
  background: none;
  border: none;
}

.partner-logo{
  height: 40px;
  width: 40px;
  margin: 15px;
}

.verified{
  font-size: 0.7em;
  color: green;
  position: relative;
  top: 22px;
  width: 90px;
}

.unverified{
  font-size: 0.7em;
  color: red;
  position: relative;
  top: 22px;
  width: 90px;
}

.partner-info {
  p {
    color: #222;
    font-size: 1.3em;
  }
}

.fair-info{
  margin-top: 50px;
}

#edit-fair-info-button {
  background: #005191;
  color: white;
  margin: 40px auto 0px auto;
  font-size: 1.2em;
}

.fair-info,
.students,
.chaperones,
.partners,
.volunteers,
.lunch {
  height: auto;
  padding: 70px 20px;
}

.volunteers {
  margin-bottom: 100px;
}

@media screen and (min-width: 860px) {
  .fair-info,
  .students,
  .chaperones,
  .partners,
  .volunteers,
  .lunch {
    padding: 70px 100px;
  }
  .top-bar {
    padding: 20px 90px;
  }
}
@media screen and (max-width: 870px) {
  .fair-info,
  .students,
  .chaperones,
  .partners,
  .volunteers,
  .lunch {
    padding: 70px 30px;
  }
  .top-bar {
    padding: 20px 29px;
  }
}

.agenda,
.faq {
  margin: 40px 0;
  padding: 0.8em;
  background: rgb(238, 238, 238);
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1)
}

.agenda-item {
  height: 65px;
  background: white;
  margin-bottom: 27px;
  border: 2.5px solid #999;
  border-radius: 5px;
  padding: 12px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
}

.edit-button {
  margin-left: 40px;
  margin-right: 40px;
  color: white;
  background: #005191;
  height: 30px;
  width: 30px;
  border-radius: 5px;
}

.agenda-time-edit,
.agenda-title-edit {
  margin-right: 8px;
  padding: 7px 5px;
  font-size: 1.4em;
}

.edit-agenda-button {
  background: #005191;
  color: white;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  border: none;
  margin-right: 20px;
  margin-left: 20px;
}

.cancel-edit-agenda-button {
  background: #999;
  color: #222;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  border: none;
}

mat-icon {
  background: #005191;
  color: white;
  padding: 0.15em;
  border-radius: 5px;
}

input[type=time] {
  border: none;
  color: #2a2c2d;
  font-size: 14px;
  font-family: helvetica;
  width: 150px;
  height: 50px;
  background: none;
}

/* Wrapper around the hour, minute, second, and am/pm fields as well as
the up and down buttons and the 'X' button */
input[type=time]::-webkit-datetime-edit-fields-wrapper {
  display: flex;
}

/* The space between the fields - between hour and minute, the minute and
second, second and am/pm */
input[type=time]::-webkit-datetime-edit-text {
  padding: 10px 4px;
}

/* The naming convention for the hour, minute, second, and am/pm field is
`-webkit-datetime-edit-{field}-field` */

/* Hour */
input[type=time]::-webkit-datetime-edit-hour-field {
  background-color: #f2f4f5;
  border: 2px solid #999;
  border-radius: 15%;
  padding: 19px 13px;
  font-size: 2em;
}

/* Minute */
input[type=time]::-webkit-datetime-edit-minute-field {
  background-color: #f2f4f5;
  border: 2px solid #999;
  border-radius: 15%;
  padding: 19px 13px;
  font-size: 2em;
}

/* AM/PM */
input[type=time]::-webkit-datetime-edit-ampm-field {
  background-color: #f2f4f5;
  border: 2px solid #999;
  border-radius: 15%;
  padding: 19px 13px;
  font-size: 2em;
}

/* 'X' button for resetting/clearing time */
input[type=time]::-webkit-clear-button {
  display: none;
}

input[type=time]::-webkit-datetime-edit-hour-field:hover,
input[type=time]::-webkit-datetime-edit-minute-field:hover,
input[type=time]::-webkit-datetime-edit-ampm-field:hover {
  background: #005191;
  color: white;
  border: 2px solid #fab716;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

.agenda-title {
    display: inline;
    line-height: 2.5em;
  }

.agenda-time {
  display: inline-block;
  margin-right: 8px;
  padding: 0.3em;
  font-size: 1.4em;
  font-weight: 700;
  width: 100px;
  color: #005191;
}

.agenda-title {
  margin-right: 8px;
  padding: 0.3em;
  font-size: 1.4em;
  font-weight: 400;
}

.lunch-text {
  font-size: 1.7em;
  background: white;
  width: 200px;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 12px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
}

.faq-wrapper {
  background: white;
  width: 80%;
  margin-bottom: 30px;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 12px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
}

.faq-question{
  font-size: 1.4em;
  margin-top: 25px;
}

.faq-answer{
  font-size: 1.3em;
  margin-left: 70px;
  margin-bottom: 30px;
  width: 80%;
  line-height: 1.5em;
  position: relative;
  left: 18px;
  top: -20px;
}

.faq-question-edit {
  display: block;
  width: 80%;
  height: 40px;
  padding: 0.8em;
  margin-bottom: 20px;
  font-size: 1.3em;
  border-radius: 5px;
}

.faq-answer-edit {
  display: block;
  width: 80%;
  padding: 0.8em;
  margin-bottom: 20px;
  font-size: 1.35em;
  border-radius: 5px;
  border: 2px solid #333;
  line-height: 1.5em;
}

.volunteer {
  background: white;
  border: 1.5px solid #005191;
  width: 500px;
  border-radius: 5px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
  margin-bottom: 20px;

  h2{
    color: #005191;
    font-size: 2em;
    padding-bottom: 20px;
  }
  p {
    position: relative;
    left: 67px;
    top: -15px;
    font-size: 1.4em;
  }
}

.faq-edit-button{
  background: #005191;
  color: white;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin-right: 20px;
  margin-bottom: 50px;
}
.volunteer-edit-button{
  background: #005191;
  color: white;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin-right: 20px;
  margin-left: 33px;
  margin-bottom: 50px;
}

.faq-cancel-button,
.volunteer-cancel-button{
  background: rgb(214, 214, 214);
  color: #222;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin-bottom: 100px;
}

.add-volunteer-input {
  display: block;
  height: 40px;
  padding: 5px 15px;
  font-size: 1.3em;
  margin: 35px auto;
  width: 400px;
}

.lunch-description {
  font-size: 1.2em;
  position: relative;
  top: -15px;
  color: #666;
}

.lunch {
  h2 {
  color: #005191
  }
}

