.mat-toolbar-row, .mat-toolbar-single-row {
  justify-content: center;
}
.container {
}
.page-header{
  color: #e3405f;
}
.page-description {
  background: #e1e9ee;
  margin: 30px 130px 80px 130px;
  line-height: 1.7em;
  font-size: 1.3em;
  padding: 2.5em 12.5em;
  border-radius: 50px;
  color: #0055a5;
  text-align: center;
}
mat-card {
  margin: 16px auto;
  border: 2px solid rgb(230, 230, 230);
  box-shadow: 1px 1px 20px rgba(0,0,0,0.95);
  border-radius: 5px;
}
mat-card-title {

}
mat-card-subtitle {
  font-size: 0.7em;
  line-height: 1em;
}
.post-title {
  font-size: 1.1em;
  font-weight: 800;
  color: #0055a5;
  line-height: 0.5em;
  margin: 24px auto 0px auto;
}
.hashtags {
  font-size: 0.9em;
  display: inline-block;
  margin-right: 5px;
  color: #faa71b;
  line-height: 0.5em;
  font-weight: 600;
}
.post-content {
  font-size: 1em;
  white-space: pre-wrap;
  line-height: 0.5em;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}
