<mat-toolbar>
    <h3 class="page-header">Denied Posts: {{allDeniedPosts.length}}</h3>
    <span class="spacer"></span>
    <button class="page-button" (click)="goBack()">Go Back </button>
</mat-toolbar>
<div class="container">

  <h4 class="page-description">These are all the posts that have been denied during the verification process.</h4>

  <div *ngIf="allDeniedPosts.length === 0" style="text-align: center; margin-top: 20%;">
      <h4 class="page-description">There have been no post that have been denied. If you see this, something is wrong.</h4>
  </div>

  <mat-card *ngFor="let post of allDeniedPosts">
    <mat-card-header>
      <img mat-card-avatar class="pictures" src="{{post.creatorProfilePicture}}" alt="Profile">
        <mat-card-title>{{post.creatorName}}</mat-card-title>
        <mat-card-subtitle>{{post.creatorEmail}}</mat-card-subtitle>
        <mat-card-subtitle>{{post.date}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <h3>{{post.post}}</h3>
        </mat-card-content>
</mat-card>
</div>
