<mat-toolbar>
    <h3>Denied Posts: </h3>
    <span class="filler"></span>
    <button mat-raised-button class="add" (click)="goBack()">Go Back </button>
</mat-toolbar>
<div class="container">

  <h3>These are all the posts that have been denied during the verification process.</h3>

  <div *ngIf="allDeniedPosts.length === 0" style="position: relative; top: 200px;
  left: 200px">
      <h3>There have been no post that have been denied. If you see this, something is wrong.</h3>
  </div>

  <mat-card *ngFor="let post of allDeniedPosts">
    <mat-card-header>
        <div mat-card-avatar class="logo"></div>
        <mat-card-title>{{post.creatorName}}</mat-card-title>
        <mat-card-subtitle>{{post.creatorEmail}}</mat-card-subtitle>
        <mat-card-subtitle>{{post.date}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <h3>{{post.post}}</h3>
        </mat-card-content>
        <!-- <mat-card-actions>

        </mat-card-actions> -->
</mat-card>
</div>
