<mat-toolbar>
    <h3 class="page-header">Verify Posts: {{allUnverifiedPosts.length}}</h3>
    <span class="spacer"></span>
    <button class="page-button" (click)="goToDeniedPosts()"> Denied Archives</button>
    <button class="page-button" (click)="goBack()">Go Back </button>
</mat-toolbar>
<div class="container">

  <div *ngIf="allUnverifiedPosts.length === 0" style="text-align: center; margin-top: 20%;">
      <h4 class="page-description">There are no posts to be verifed.</h4>
  </div>

  <mat-card *ngFor="let post of allUnverifiedPosts">
    <mat-card-header>
      <img mat-card-avatar class="pictures" src="{{post.creatorProfilePicture}}" alt="Profile">
        <mat-card-title>{{post.creatorName}}</mat-card-title>
        <mat-card-subtitle>{{post.creatorEmail}}</mat-card-subtitle>
        <mat-card-subtitle>{{post.date}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p style="font-size: 1.1em; font-weight: 800; color: #0055a5;">
          {{post.title}}
        </p>
        <p *ngFor="let tag of post.hashtags" style="font-size: 0.9em; display: inline-block; margin-right: 5px;     color: #777;">
          #{{tag}},
        </p>
        <p style="font-size: 1em; white-space: pre-wrap;">{{post.post}}
        </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="card-button" style="width: 100px;" (click)="verifyYesDialog(post)">Verify</button>
          <button class="delete-button" style="width: 100px;" (click)="verifyNoDialog(post)">Deny</button>
        </mat-card-actions>
</mat-card>
</div>
