<mat-toolbar>
    <h3>Posts: {{allPosts.length}}</h3>
    <span class="filler"></span>
    <button mat-raised-button class="add" (click)="reportedPage()">Reported ( {{ reportedPost.length }} )</button>
    <button mat-raised-button class="add" (click)="verifyPage()">Verify ( {{ unverifiedPost.length }} )</button>
</mat-toolbar>
<router-outlet name="posts"></router-outlet>
<div class="container">
    <mat-card *ngFor="let post of allPosts">
        <mat-card-header>
            <div mat-card-avatar class="logo"></div>
            <mat-card-title>{{post.creatorName}}</mat-card-title>
            <mat-card-subtitle>{{post.creatorEmail}}</mat-card-subtitle>
            <mat-card-subtitle>{{post.date}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
              <p style="font-size: 1em;">
                <span style="font: 2em">"</span>
                {{post.post}}
                <span style="font: 2em">"</span>
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button class="card-button" mat-button (click)="openFollowersDialog(post)" >Followers ({{post.followers.length}})</button>
              <button class="card-button" mat-button (click)="openCommentsDialog(post)" >Comments ({{post.comments.length}})</button>
              <button class="card-button" mat-button (click)="openDeleteDialog(post)">Delete</button>
            </mat-card-actions>
    </mat-card>
</div>
