<mat-toolbar>
  <mat-toolbar-row>
    <h3 class="page-header"><span>Posts: {{allPosts.length}}</span>  - View and Delete all Posts on the FYF App</h3>
    <span class="spacer"></span>
    <button class="page-button" (click)="verifyPage()">Verify ( {{ unverifiedPost.length }} )</button>
    <button class="page-button" (click)="reportedPage()">Reported ( {{ reportedPost.length }} )</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet name="posts"></router-outlet>
<div class="container">
  <form>
    <mat-form-field class="search">
      <mat-label>Search for Post</mat-label>
      <input (keyup.enter)="test()" matInput placeholder="Find by Student Name">
    </mat-form-field>
  </form>
    <mat-card *ngFor="let post of allPosts">
        <mat-card-header>
          <img mat-card-avatar class="pictures" src="{{post.creatorProfilePicture}}" alt="Profile">
            <mat-card-title>{{post.creatorName}}</mat-card-title>
            <mat-card-subtitle>{{post.creatorEmail}}</mat-card-subtitle>
            <mat-card-subtitle>{{post.date}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p style="font-size: 1em; color: #005191">
              {{post.title}}
            </p>
            <p *ngFor="let tag of post.hashtags" style="font-size: 0.9em; display: inline-block; margin-right: 5px; color: #777;">
              #{{tag}},
            </p>
              <p style="font-size: 1em;">
                {{post.post}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button class="card-button" (click)="openFollowersDialog(post)" >Followers ({{post.followers.length}})</button>
              <button class="card-button" (click)="openCommentsDialog(post)" >Comments ({{post.comments.length}})</button>
              <button class="delete-button" (click)="openDeleteDialog(post)">Delete</button>
            </mat-card-actions>
    </mat-card>
</div>
