    <mat-toolbar>
        <h3>Jobs: {{allJobs.length}}</h3>
        <span class="filler"></span>
        <button mat-raised-button class="add" (click)="openAddJobDialog()">Add Job</button>
    </mat-toolbar>
    <div class="container">
        <mat-card *ngFor="let job of allJobs">
            <mat-card-header>
                <div mat-card-avatar class="logo"></div>
                <mat-card-title>{{job.title}}</mat-card-title>
                <mat-card-subtitle>{{job.companyName}}</mat-card-subtitle>
                <mat-card-subtitle>{{job.companyEmail}}</mat-card-subtitle>
              </mat-card-header>

              <mat-card-content>
                  <p style="color: green;">{{job.rateOfPay}}/hr</p>
                  <p>Summary: {{job.summary}}</p>
                  <p>Full Job Description: {{job.fullJobDescription}}</p>
                </mat-card-content>
                <mat-card-actions>
                  <button class="card-button" mat-button (click)="openEditDialog(job)">Edit</button>
                  <button class="card-button" mat-button (click)="openDeleteDialog(job)">Delete</button>
                </mat-card-actions>
        </mat-card>
    </div>
