<mat-toolbar>
  <h3 class="page-header">Fairs: {{allFairs.length}} - View, Edit, and Delete all Fairs on the FYF App.</h3>
  <div class="spacer"></div>
  <button class="add-button" (click)="openAddFairsDialog()">Add</button>
</mat-toolbar>

<div class="container">
  <div style="box-shadow: 1px 10px 26px rgba(0,0,0,0.05); padding: 2em;" *ngFor="let fair of allFairs" class="fair-link">
    <h3 id="fair-title">{{fair.title}}</h3>
    <h5 class="fair-date">{{fair.date}}</h5>
    <h5 class="fair-date">{{fair.time}}</h5>
    <button style="background: #e3405f; color: white; margin-right: 16px;" (click)="deleteFair(fair._id)">Delete</button>
    <button (click)="fairPage(fair._id)">View</button>
  </div>
  <!-- <mat-card *ngFor="let fair of allFairs">
      <mat-card-header>
          <mat-card-title>{{fair.title}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p><span>Time: </span>{{fair.time}}</p>
          <p><span>Date: </span>{{fair.date}}</p>
          <p><span>Address: </span>{{fair.address}}</p>
          <p><span>City: </span>{{fair.city}}</p>
          <p><span>State: </span>{{fair.state}}</p>
          <p><span>Zip: </span>{{fair.zip}}</p>
          <p><span>Summary : </span><br><br>{{fair.summary}}</p>
          <p><span>Description : </span><br><br>{{fair.description}}</p>

          <p><span>Schools : </span><br><br></p>
          <p *ngFor="let student of fair.students">{{student}}</p>

          <p><span>Partners : </span><br><br>{{fair.partners}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button class="card-button" mat-button (click)="openEditFairDialog(fair)">Edit</button>
            <button class="card-button" mat-button (click)="openDeleteFairsDialog(fair)">Delete</button>
          </mat-card-actions>
  </mat-card> -->
</div>
