.example-spacer {
  flex: 1 1 auto;
}

.fair-link{
  width: 400px; height: 150px;
  border-radius: 5px;
  background: rgb(0,81,145);
  background: linear-gradient(135deg, rgba(0,81,145,1) 0%, rgba(0,81,145,1) 25%, rgba(0,81,145,1) 50%, rgba(0,81,145,1) 75%, rgba(15,116,195,1) 100%);
  color: white;
  font-size: 1.3em;
  position: relative;
  padding: 0.6em;
  margin-bottom: 40px;
  border: none;

  #fair-title {
    margin: 0; padding: 10px 0;
    position: relative;
    top: 4px;
    left: 10px;
  }

  .fair-date {
    padding: 0; margin: 0;
    position: relative;
    top: 8px;
    left: 10px;
    opacity: 0.7;
  }

  button {
    position: absolute;
    bottom: 10px;
    right: 20px;
    height: 40px;
    width: 90px;
    border: none;
    background: white;
    color: #005191;
    font-size: 1em;
  }
}

span {
  font-weight: 900;
  color: #005191;
}

.container {
  margin: 60px 25px;
}

mat-card {
  margin: 20px;
}

/* Responsive Styles */
/* Medium size viewport */
@media screen and (max-width: 959px) {
  .flex-container {
    flex-direction: column;
  }
}
