
span {
  font-weight: 900;
  color: #005191;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

mat-card {
  margin: 20px;
}

/* Responsive Styles */
/* Medium size viewport */
@media screen and (max-width: 959px) {
  .flex-container {
    flex-direction: column;
  }
}