<h2 mat-dialog-title>Delete Job?</h2>
<p>{{title}}</p>
<p style="color: green">{{rateOfPay}} /hr</p>
<p>{{companyName}}</p>
<p>{{companyEmail}}</p>
<p>{{summary}}</p>
<p>{{fullJobDescription}}</p>
<mat-dialog-content>
      <p>Are you sure you want to delete this Job? It cannot be undone.</p>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button class="danger" (click)="delete(id)">Delete</button>
    <button class="mat-raised-button" (click)="close()">Cancel</button>
</mat-dialog-actions>
