<mat-toolbar>
    <h3 class="page-header"><span>Events: {{allEvents.length}}</span> - View, Delete, and Edit all Events on the FYF App.</h3>
    <span class="spacer"></span>
    <button class="page-button" (click)="openAddEventsDialog()">Add</button>
</mat-toolbar>
<div class="container">
  <form>
    <mat-form-field class="search">
      <mat-label>Search for Event</mat-label>
      <input (keyup.enter)="test()" matInput placeholder="Find by Event Title">
    </mat-form-field>
  </form>
    <mat-card *ngFor="let event of allEvents">
        <mat-card-header>
            <mat-card-title>{{event.title}}</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <img mat-card-image src="../../../assets/logo-2.png">
              <p><span>Company Name:</span> {{event.organizer}}</p>
              <p><span>Date:</span> {{event.date}}</p>
              <p><span>Time:</span> {{event.time}}</p>
              <p><span>Address 1:</span> {{event.addressOne}},</p>
              <p><span>Address 2:</span> {{event.addressTwo}}</p>
              <p><span>City:</span> {{event.city}},</p>
              <p><span>State:</span> {{event.state}},</p>
              <p><span>Zip:</span> {{event.zip}}</p>
              <p><span>Description:</span><br><br> {{event.description}}</p>
          </mat-card-content>
            <mat-card-actions>
              <button class="card-button" (click)="openEditEventDialog(event)">Edit</button>
              <button class="delete-button" (click)="openDeleteDialog(event)">Delete</button>
            </mat-card-actions>
    </mat-card>
</div>
