mat-grid-tile {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
  margin-bottom: 12px;
  color: #0055a5;
  font-size: 1.5em;
}
mat-accordion {
  margin-bottom: 24px;
  background-color: #f4f5f8;
}
span:first-child {
  width: 100px;
  display: inline-block;
  font-weight: 700;
}
span {
  width: 70px;
  display: inline-block;
  font-weight: 700;
  color: #005191;
}
p {
  line-height: 1.3em;
  font-size: 1em;
}
.container {
  background: #f4f5f8;
  height: auto;
  padding: 6em 2em;
}
mat-card {
  box-shadow: 1px 10px 26px rgba(0,0,0,0.05);
}
mat-expansion-panel {
  background: #0055a529;
  box-shadow: 1px 10px 26px rgba(0,0,0,0.05);
  margin-bottom: 24px;

  .panel-toolbar {
    position: relative;
    margin-bottom: 20px;
    padding: 0;
    background: none;
    box-shadow: none;
    z-index: 0;

    button {
      font-size: 0.8em;
      color: white;
      margin-right: 15px;
      padding: 0.6em 0;
      width: 120px;
      border-radius: 5px;
      border: none;
      background: #21ce99;
      z-index: 0;
    }
  }

  h3 {
    color: #005191;
  }
}
