<mat-toolbar>
    <h3 class="page-header"><span>Events: {{allEvents.length}}</span> - View, Delete, and Edit all Events on the FYF App.</h3>
    <span class="spacer"></span>
    <button class="add-button" (click)="openAddEventsDialog()">Add</button>
</mat-toolbar>
<div class="container">
  <!-- <form>
    <mat-form-field class="search">
      <mat-label>Search for Event</mat-label>
      <input (keyup.enter)="test()" matInput placeholder="Find by Event Title">
    </mat-form-field>
  </form> -->
    <mat-card style="box-shadow: 1px 10px 26px rgba(0,0,0,0.05); padding: 2em;" *ngFor="let event of allEvents">
        <mat-card-header>
            <mat-card-title style="position: relative; right: 16px; color: #faa71b">{{event.title}}</mat-card-title>
          </mat-card-header>

          <mat-accordion>
            <mat-expansion-panel>
            <!-- <mat-expansion-panel
             (opened)="panelOpenState = true"
             (closed)="panelOpenState = false"> -->
              <mat-expansion-panel-header>
               <mat-panel-title>
                 <h3 style="margin: 30px 0px;">Event Photo</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div style="text-align: center; margin-top: 42px;">
              <img style="width: 335px; margin-left: 8px;" src="{{event.photo}}">
              <br>
              <br>
              <button class="card-button" (click)="openImageCropper(event)">Edit</button>
            </div>
            </mat-expansion-panel>
          </mat-accordion>

          <mat-card-content style="margin-top: 24px;">
              <p><span>Company:</span> {{event.organizer}}</p>
              <p><span>Date:</span> {{event.date}}</p>
              <p><span>Time:</span> {{event.time}}</p>
              <p><span>Address 1:</span> {{event.addressOne}},</p>
              <p><span>Address 2:</span> {{event.addressTwo}}</p>
              <p><span>City:</span> {{event.city}},</p>
              <p><span>State:</span> {{event.state}},</p>
              <p><span>Zip:</span> {{event.zip}}</p>
              <p><span>Description:</span>
              <p>{{event.description}}</p>


          </mat-card-content>
            <mat-card-actions>
              <button class="card-button" (click)="openEditEventDialog(event)">Edit</button>
              <button class="delete-button" (click)="openDeleteDialog(event)">Delete</button>
            </mat-card-actions>
    </mat-card>
</div>
