<mat-toolbar>
  <h3 class="page-header">Reported Comment Archive</h3>
  <span class="spacer"></span>
  <button class="page-button" (click)="goBack()">Go Back </button>
</mat-toolbar>
<div class="container">

<h4 class="page-description">These are all the comments that have been reported whether or not they have been deleted or not.</h4>

<div *ngIf="allReportedComments.length[1] === 0" style="text-align: center; margin-top: 20%;">
    <h3>There have been no comments that have been added to the reported comments archieve.</h3>
</div>

<mat-card *ngFor="let comment of allReportedComments[1]">
  <mat-card-header>
      <img mat-card-avatar class="pictures" src="{{comment.creatorProfilePicture}}" alt="Profile">
        <mat-card-title>Reporting: {{comment.reportedUserName}}</mat-card-title>
        <mat-card-subtitle>{{comment.reportedUserEmail}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>Post ID: {{comment.postID}}</p>
        <p >Reporting User: {{comment.userFullname}}</p>
        <p>Reporting Email: {{comment.userEmail}}</p>
        <hr style="background: #999;">
        <p style="white-space: pre-wrap; color: #e4405f">{{comment.comment}}</p>
      </mat-card-content>
      <!-- <mat-card-actions>

      </mat-card-actions> -->
</mat-card>
</div>
