<mat-toolbar>
    <h3 class="page-header">Mentors: {{allMentors.length}}</h3>
    <span class="spacer"></span>
    <button class="page-button" (click)="openAddMentorDialog()">Add</button>
</mat-toolbar>
<div class="container">
  <h4 class="page-description">View, Add, Delete, and Edit all Mentors on the FYF App.</h4>
  <form>
    <mat-form-field class="search">
      <mat-label>Search for Mentor</mat-label>
      <input (keyup.enter)="test()" matInput placeholder="Find by Mentor Name">
    </mat-form-field>
  </form>
    <mat-card *ngFor="let mentor of allMentors">
        <mat-card-header>
          <img mat-card-avatar class="pictures" src="{{mentor.photo}}" alt="Mentor Photo">
            <mat-card-title>{{mentor.name}}</mat-card-title>
            <mat-card-subtitle>{{mentor.email}}</mat-card-subtitle>
            <mat-card-subtitle>{{mentor.title}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
              <p>{{mentor.city}}, {{mentor.state}}</p>
              <p>{{mentor.summary}}</p>
              <p>{{mentor.description}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button class="card-button" (click)="openEditMentorDialog(mentor)">Edit</button>
              <button class="delete-button" (click)="openDeleteDialog(mentor)">Delete</button>
            </mat-card-actions>
    </mat-card>
</div>
