<mat-sidenav-container class="menu-container">

    <mat-sidenav mode="side" opened>
      <img id="logo" src="../../assets/logo-2.png" alt="Logo">
      <mat-divider id="sidenav-divider"></mat-divider>
      <mat-nav-list>
          <a mat-list-item routerLinkActive="active"  [routerLink]="[ { outlets: { open: ['jobs'] } }]">
            <img class="sidenav-icon" src="../../assets/jobs-icon.svg" alt="">
            <span>Jobs</span></a>
          <a mat-list-item routerLinkActive="active"  [routerLink]="[ { outlets: { open: ['students'] } }]">
            <img class="sidenav-icon" src="../../assets/profile-icon.svg" alt="">
            <span>Students</span></a>
          <a mat-list-item routerLinkActive="active"  [routerLink]="[ { outlets: { open: ['mentors'] } }]">
            <img class="sidenav-icon" src="../../assets/mentors-icon.svg" alt="">
            <span>Mentors</span></a>
          <a mat-list-item routerLinkActive="active"  [routerLink]="[ { outlets: { open: ['posts'] } }]">
            <img class="sidenav-icon" src="../../assets/posts-info.svg" alt="">
            <span>Posts</span></a>
          <a mat-list-item routerLinkActive="active"  [routerLink]="[ { outlets: { open: ['events'] } }]">
            <img class="sidenav-icon" src="../../assets/events-icon.svg" alt="">
            <span>Events</span></a>
          <a mat-list-item routerLinkActive="active"  [routerLink]="[ { outlets: { open: ['fairs'] } }]">
            <img class="sidenav-icon" src="../../assets/jobs-icon.svg" alt="">
            <span>Fairs</span></a>
          <a  class="logout-link" mat-list-item routerLinkActive="active"  [routerLink]="[ { outlets: { open: ['logout'] } }]">
            Logout</a>
       </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet name="open"></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
