.menu-container {
  width: 100%;
  height: 100vh;
  border: 1px solid #555;
}

mat-sidenav {
  width: 200px;

  a {
    padding-left: 0px;
    font-size: 0.9em;
  }
}

mat-nav-list {
  margin-top: 25px;
}

.active {
  color: #005191;
  font-weight: 800;
}

img {
  width: 100px;
  margin: 20px 0 0 50px;
}
