<mat-sidenav-container class="menu-container">

    <mat-sidenav mode="side" opened>
      <!-- <img id="logo" src="../../assets/logo-2.png" alt="Logo">
      <mat-divider id="sidenav-divider"></mat-divider> -->
      <div style="text-align: center; position: relative; top: 24px;">
        <img height="50" src="../../assets/fyf-white-icon.svg">
      </div>
      <mat-nav-list style="position: relative; top: 20px;">
          <a mat-list-item routerLinkActive="active"  [routerLink]="[ { outlets: { open: ['jobs'] } }]">
            <span>Jobs</span></a>
          <a mat-list-item routerLinkActive="active"  [routerLink]="[ { outlets: { open: ['students'] } }]">
            <span>Users</span></a>
          <a mat-list-item routerLinkActive="active"  [routerLink]="[ { outlets: { open: ['mentors'] } }]">
            <span>Mentors</span></a>
          <a mat-list-item routerLinkActive="active"  [routerLink]="[ { outlets: { open: ['posts'] } }]">
            <span>Posts</span></a>
          <a mat-list-item routerLinkActive="active"  [routerLink]="[ { outlets: { open: ['events'] } }]">
            <span>Events</span></a>
          <a id="active-link" mat-list-item routerLinkActive="active"  [routerLink]="[ { outlets: { open: ['fairs'] } }]">
            <span>Fairs</span></a>
          <a mat-list-item [routerLink]="[ { outlets: { open: ['logout'] } }]">
            <span class="logout">Logout</span></a>
       </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet name="open"></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
