<mat-sidenav-container class="example-container">

    <mat-sidenav mode="side" opened>
      <h4>Admin Dashboard</h4>
      <mat-nav-list>
          <a mat-list-item href="...">Jobs</a>
          <a mat-list-item href="...">Students</a>
          <a mat-list-item href="...">Mentors</a>
          <a mat-list-item href="...">Posts</a>
          <a mat-list-item href="...">Events</a>
          <a mat-list-item [routerLink]="[{outlets: {dashboard_pages: ['logout']}}]">Logout</a>
       </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <h1>dashboard?</h1>
        <router-outlet name="dashboard_pages"></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
