<h2 mat-dialog-title>Edit Fair</h2>
<mat-dialog-content>
  <form [formGroup]="editFairForm" (ngSubmit)="update(this.editFairForm.value)">
      <mat-form-field>
          <input
          required
          matInput
          placeholder="Title"
          formControlName="title">
        </mat-form-field>
        <mat-form-field>
          <input
          required
          matInput
          placeholder="Address"
          formControlName="address">
        </mat-form-field>
        <mat-form-field>
          <input
          required
          matInput
          placeholder="City"
          formControlName="city">
        </mat-form-field>
        <mat-form-field>
          <input
          matInput
          placeholder="State"
          formControlName="state">
        </mat-form-field>
        <mat-form-field>
          <input
          required
          matInput
          placeholder="zip"
          formControlName="zip">
        </mat-form-field>
        <mat-form-field>
          <input
          required
          matInput
          value="{{isoDate}}"
          placeholder="Date"
          type="datetime-local">
        </mat-form-field>
        <mat-form-field>
          <textarea
          required
          matInput
          rows="10"
          placeholder="Summary"
          formControlName="summary">
          </textarea>
        </mat-form-field>
        <mat-dialog-actions>
            <button mat-raised-button class="page-button" type="submit">Edit Fair</button>
            <button class="page-button" (click)="close()">Cancel</button>
        </mat-dialog-actions>
  </form>
</mat-dialog-content>


