/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
   background: #f4f5f8;
}
p {
  white-space: pre-wrap;
}
.mat-list-base .mat-list-item {
  color: white;
}
h4 {
  color: #0055a5;
}
button {
  border: none;
}
.danger-snack-bar{
  background: #e3405f;
  font-weight: 600;
}
.page-description {
  margin: 40px 0px 40px 20px;
}

mat-form-field {
  display: block;
  width: 100%;
  // box-shadow: 1px 10px 26px rgba(0,0,0,0.05);
}
.spacer{
  height: 20px;
}
mat-card {
  margin-bottom: 100px;
  width: 800px;
  // border: 1.5px solid #0055a5;
  border-radius: 5px;
}
.mat-card-actions {
  padding: 6em 0em;
}

.mat-card-content, .mat-card-subtitle {
  font-size: 1.05em;
  line-height: 1.55em;
}

.mat-card-content>:first-child, .mat-card>:first-child {
  margin-top: 30px;
}
.mat-card-header-text {
  margin: 8px 0;
}

.rate-of-pay {
  font-size: 0.75em;
  font-weight: 700;
  background-color: #00c400;
  border: 1px solid #00c400;
  width: 50px;
  display: inline;
  padding: 0.1em 0.7em;
  margin-bottom: 30px;
  border-radius: 5px;
  color: white;

}
mat-expansion-panel {
  background: #0055a529;
  box-shadow: 1px 10px 26px rgba(0,0,0,0.05);
  margin-bottom: 24px;

  .panel-toolbar {
    position: relative;
    margin-bottom: 20px;
    padding: 0;
    background: none;
    box-shadow: none;
    z-index: 0;

    button {
      font-size: 0.8em;
      color: white;
      margin-right: 15px;
      padding: 0.6em 0;
      width: 120px;
      border-radius: 5px;
      border: none;
      background: #21ce99;
      z-index: 0;
    }
  }

  h3 {
    color: #005191;
  }
}
mat-toolbar {
  position: fixed;
  z-index: 9999;
  box-shadow: 1px 1px 20px rgba(0,0,0,0.15);
  background: #0055a529;
}

.search {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 80px;
}

.mat-form-field-flex {
  font-size: 1.2em;
  padding-bottom: 1em;
}

.float-left {
  position: absolute;
  right: 0;
}

.logo {
  width: 50px;
  height: 50px;
  background: lightblue;
}

.card-button {
  color: white;
  border-radius: 5px;
  height: 32px;
  background: #0055a5;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 0.7em;
  font-weight: 600;
  width: 130px;
}

.delete-button {
  color: white;
  border-radius: 5px;
  height: 25px;
  background: #e4405f;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 0.7em;
  width: 100px;
}
.add-button{
  background: #00c400;
  color: white;
  font-weight: 600;
  font-size: 0.65em;
  width: 100px;
  margin-left: 10px;
  height: 40px;
  border-radius: 5px;
  border: none;
}

.pictures{
  height: 50px; width: 50px;
  border-radius: 50px;
  background: lightgreen;
}

.danger {
  background: red;
  color: white;
}

.page-button {
  background: #0055a5;
  color: white;
  font-size: 0.6em;
  font-weight: 600;
  width: 130px;
  margin-left: 10px;
  height: 32px;
  border-radius: 5px;
  border: none;
}

.page-success-button {
  background: #015028;
  color: white;
  width: 100px;
  margin-left: 10px;
  height: 40px;
  border-radius: 5px;
  border: none;
}

.page-danger-button {
  background: #e4405f;
  color: white;
  width: 100px;
  margin-left: 10px;
  height: 24px;
  border-radius: 5px;
  border: none;
}

.login-container {
  background: rgba(240,240,240);
  width: 400px;
  height: auto;
  margin: 0 auto;
  position: relative;
  top: 100px;
  padding: 45px;
  text-align: center
}

.container {
  padding: 5em 2em;
}

.spacer {
  flex: 0.7 0.7 auto;
}

.mat-form-field-label {
  font-size: 1.5em;
}

.mat-input-element {
  margin-top: 10px;
}

.cdk-overlay-pane{
  width: 450px;
}

.modal-button{
  background: #0055a5;
  color: white;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
}

.mat-form-field-infix {

}

.mat-form-field {
  font-size: 1em;
}

@media only screen and (max-width: 1200px) {
  .spacer {
    flex: 0.2 0.2 auto;
  }
}

@media only screen and (max-width: 1000px) {
  .spacer {
    flex: 0.65 0.65 auto;
  }
}

@media only screen and (max-width: 900px) {
  .spacer {
    flex: 0.60 0.60 auto;
  }
}

.page-header {
  color: #333;
}

