/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { margin: 0; font-family: Arial, "Arial", sans-serif; }

mat-form-field {
  display: block;
  width: 100%;
}

mat-card {
  margin: 40px;
  background: lightblue;
}

mat-dialog-actions {
  float: right;
}

mat-dialog-actions > button {
  margin-right: 10px;
}

.danger {
  background: red;
  color: white;
}

.add {
  background: green;
  color: white;
  float: right;
  position: relative;
  left: -50px;
}

.dashboard-page-header {
  background: rgba(245,245,245, 1);
  height: auto;
  width: 100%;
  padding: 0px 20px 0 20px;
  margin-bottom: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: block;
}


.login-container {
  background: rgba(240,240,240);
  width: 400px;
  height: auto;
  margin: 0 auto;
  position: relative;
  top: 100px;
  padding: 45px;
  text-align: center
}

.container {
  padding-top: 100px;
}

