<mat-toolbar>
  <h3 class="page-header">Students: {{allStudents.length}}</h3>
</mat-toolbar>
<div class="container">
  <h4 class="page-description">View all Students on the FYF App.</h4>
  <form>
    <mat-form-field class="search">
      <mat-label>Search for Student</mat-label>
      <input (keyup.enter)="test()" matInput placeholder="Find by Name">
    </mat-form-field>
  </form>
  <mat-card *ngFor="let student of allStudents">
      <mat-card-header>
        <mat-card-title>{{student.fullName}}</mat-card-title>
        <img mat-card-avatar class="pictures" src="{{student.profilePicture}}" alt="Profile">
        </mat-card-header>
        <mat-card-content>
          <p>{{student.gender}}</p>
          <p>School: {{student.school}}</p>
          <p>Grade: {{student.grade}}</p>
          <p>{{student.email}}</p>
          <p>{{student.addressOne}}</p>
          <p>{{student.addressTwo}}</p>
          <p>Date of Birth: {{student.dob}}</p>
          <p>{{student.phone}}</p>
          <p>{{student.city}}</p>
          <p>{{student.state}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button class="card-button" (click)="openEditDialog(student)">Edit</button>
            <button class="delete-button" (click)="openDeleteDialog(student)">Delete</button>
          </mat-card-actions>
  </mat-card>
</div>
